parameters:
    level: 8
    paths:
        - includes
    bootstrapFiles:
        - vendor/php-stubs/wordpress-stubs/wordpress-stubs.php
        - vendor/miguelcolmenares/cf7-stubs/contact-form-7-stubs.php
    reportUnmatchedIgnoredErrors: false
    ignoreErrors:
        - '#Variable \$mailtags might not be defined#'
        - '#Constant CF7_API_#'
        - '#Constant ARRAY_A not found#'
        - '#PHPDoc tag @param references unknown parameter#'
        - '#expects .*, .* given#'
        - '#Strict comparison using#'
        # Instanceof check is valid but flagged due to PHPDoc types
        -
            identifier: instanceof.alwaysTrue
        # Protected property access in WP_List_Table (WordPress pattern)
        - '#Access to protected property.+::._args#'
        # Call to method that exists in parent class
        - '#Call to an undefined method.+::process_bulk_action#'
        # Methods used via WordPress hooks - PHPStan can't detect WordPress action/filter callbacks
        - '#Method .+::get_record\(\) is unused#'
        - '#Method .+::send_lead\(\) is unused#'
        - '#Method .+::log_error\(\) is unused#'
        # Legacy code patterns from CF7 API plugin - intentional for compatibility
        - '#Negated boolean expression is always true#'
        - '#Unreachable statement#'
        - '#Ternary operator condition is always false#'
        - '#Result of && is always false#'
        - '#Offset .+ on .+ on left side of \?\? does not exist#'
        - '#Call to function is_array\(\) with .+ will always evaluate to false#'


