parameters:
    level: 8
    paths:
        - includes
    bootstrapFiles:
        - vendor/php-stubs/wordpress-stubs/wordpress-stubs.php
        - vendor/miguelcolmenares/cf7-stubs/contact-form-7-stubs.php
    ignoreErrors:
        - '#Variable \$mailtags might not be defined#'
        - '#If condition is always true#'
        - '#Constant CF7_API_#'
        - '#has parameter .* with no value type specified in iterable type array#'
        - '#return type has no value type specified in iterable type array#'
        - '#PHPDoc tag @param references unknown parameter#'
        - '#expects .*, .* given#'
        - '#should return .* but returns#'
        - '#does not accept array#'
        - '#Strict comparison using#'
        - '#is never read, only written#'
        - '#constructor invoked with .* parameter#'
        # Methods used via WordPress hooks - PHPStan can't detect WordPress action/filter callbacks
        - '#Method .+::get_record\(\) is unused#'
        - '#Method .+::send_lead\(\) is unused#'
        - '#Method .+::log_error\(\) is unused#'
        # Legacy code patterns from CF7 API plugin - intentional for compatibility
        - '#Negated boolean expression is always true#'
        - '#Unreachable statement#'
        - '#Ternary operator condition is always false#'
        - '#Offset .+ on .+ in isset\(\) does not exist#'
        - '#Result of && is always false#'
        - '#If condition is always false#'
        - '#Offset .+ on .+ on left side of \?\? does not exist#'
        - '#Call to function is_array\(\) with .+ will always evaluate to false#'


